<?xml version="1.0"?>
<config>
  <modules>
    <IFlair_CustomerDenied>
        <version>0.1.0</version>
    </IFlair_CustomerDenied>
  </modules>
  <global> 
    <blocks>
      <adminhtml>
        <rewrite>
          <customer_grid>IFlair_CustomerDenied_Block_Adminhtml_Customer_Grid</customer_grid>
        </rewrite> 
      </adminhtml> 
    </blocks>
    <template>
      <email>
        <denied_template  module="CustomerDenied">
          <label>Customer Denied</label>
          <file>denied_template.html</file>
          <type>html</type>
        </denied_template>
      </email>
    </template>
    <resources>
			<iflaircustomerdenied_setup>
				<setup>
					<module>IFlair_CustomerDenied</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</iflaircustomerdenied_setup>
			<iflaircustomerdenied_setup>
				<connection>
					<use>core_write</use>
				</connection>
			</iflaircustomerdenied_setup>
			<iflaircustomerdenied_setup>
				<connection>
					<use>core_read</use>
				</connection>
			</iflaircustomerdenied_setup>
    </resources>
    <models>
    	<iflair_customerdenied>
        <class>IFlair_CustomerDenied_Model</class>
    	</iflair_customerdenied>
  	</models>
  </global>
  <frontend>
  	<events>
     	<customer_login>
     		<observers>
      		<iflair_customerdenied_login>
         		<class>iflair_customerdenied/observer</class>
         		<method>checkLoginStatus</method>             
      		</iflair_customerdenied_login>
     		</observers>
     	</customer_login>
	  </events>
 	</frontend>
  <adminhtml>
   <events>
      <customer_save_before>
        <observers>
          <iflair_customerdenied_customer>
            <class>iflair_customerdenied/observer</class>
            <method>notifyCustomerStatus</method>
          </iflair_customerdenied_customer>
        </observers>
      </customer_save_before>
   </events>
  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <IFlair_CustomerDenied before="Mage_Adminhtml">IFlair_CustomerDenied_Adminhtml</IFlair_CustomerDenied>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config>